{{define "header"}}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <title>{{.PageTitle}}</title>
</head>
<body>
{{end}}



{{define "footer"}}
</body>
</html>
{{end}}


{{define "main-page"}}
{{template "header" .}}
<form action="." method="POST">
    <textarea name="content" id="content" placeholder="Paste your content here" required></textarea>

    <label for="host-required">
        <input id="host-required" type="checkbox" name="host-required"> Host required
    </label>
    <label for="expire-after">
        Expire after
        <select id="expire-after" name="expire-after">
            <option value="0">Never</option>
            <option value="300" selected>5 minutes</option>
            <option value="1800">30 minutes</option>
            <option value="3600">1 hour</option>
            <option value="21600">6 hours</option>
            <option value="86400">1 day</option>
        <select>
    </label>
    <button type="submit" class="pull-right">Create</button>
</form>
<script src="/static/js/paste.js" type="text/javascript"></script>
{{template "footer" .}}
{{end}}


{{define "paste-host"}}
{{template "header" .}}
<h1>
    Paste host
    <a href="/{{.PasteKey}}">{{.PasteKey}}</a>
</h1>
<h3>Connected clients</h3>
<ul>
{{end}}


{{define "paste-client"}}
<li>
    Client connected: {{.Client.Host}}
</li>
{{end}}
