body, html {
    margin: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    margin-right: 30px;
}

.pull-right {
    float: right;
}
